- if @chapter.present?
  = form_for @chapter, :remote => true, :html => { :class => 'flex flex-auto flex-stretch flex-column' } do |f|

    .clearfix.flex-none
      .col.col-8.border-bottom
        = f.collection_select(:part_id, Part.all.order(:number), :id, :title, { :include_blank => 'Parent' }, { :class => 'border-right block field p2 col-12' })
      .col.col-2.border-bottom
        = f.text_field :number, :class => 'field block col-12 border-right', :placeholder => 'Position'
      .col.col-2.border-bottom
        = select_tag 'chapter[quality]', options_for_select(Segment.qualities, @chapter.quality), :class => 'block field p2 col-12'
      .col.col-4.gray-light
        .p2.center.border-right
          - if @chapter.use_draft_text
            - main_class = 'display-none'
            = radio_button_tag 'view', 'main'
          - else
            - main_class = ''
            = radio_button_tag 'view', 'main', :checked => true
          Main
      .col.col-4.gray-light
        .p2.center.border-right
          - if @chapter.use_draft_text
            - draft_class = ''
            = radio_button_tag 'view', 'draft', :checked => true
          - else
            - draft_class = 'display-none'
            = radio_button_tag 'view', 'draft'
          Draft
      .col.col-4
        .p2.center.gray-light
          = radio_button_tag 'view', 'summary'
          Summary
      .col.col-12.border-top
        = f.text_field :title, :class => 'field col-12', :placeholder => 'Chapter title'

    = text_area_tag( 'chapter[intro]', @chapter.intro, :class => "flex-auto border-top p4 bg-gray-light gray-dark #{main_class}", :placeholder => 'Intro', :id => 'main' )

    = text_area_tag( 'chapter[draft_text]', @chapter.draft_text, :class => "flex-auto border-top p4 bg-gray-light gray-dark #{draft_class}", :placeholder => 'Draft text', :id => 'draft' )

    = text_area_tag( 'chapter[summary]', @chapter.summary, :class => 'flex-auto border-top p4 bg-gray-light gray-dark display-none', :placeholder => 'Summary', :id => 'summary' )

    .clearfix.flex-none
      .col.col-8
        = f.hidden_field :use_draft_text, :value => false
        = f.text_field :filename, :class => 'field block col-12 border-right', :placeholder => 'Filename'
      .col.col-4
        = f.submit t('button.save'), :class => 'btn block col-12 py2 px3 lime bg-gray-darkest', :name => 'save'


- else
  = t('notice.no-chapter')
